<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>  
        <title>Hasil</title>
    </head>
    <body>
        <div>Table Hasil</div>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>name</td>
                    <td>alamat</td>
                    <td>noKTP</td>
                </tr>                 
            </thead>
            <tbody>
                <tr th:each="Data : ${DATA}">
                    <td th:text="${Data.ID}">ID</td>
                    <td th:text="${Data.name}">name</td>
                    <td th:text="${Data.Alamat}">alamat</td>
                    <td th:text="${Data.noKtp}">noKTP</td>
                </tr>               
            </tbody>           
        </table>
    </body>   
</html>
